In [36]:
import pandas as pd
import numpy as np
import pycountry

In [37]:
# Read data
df_events = pd.read_csv('./Data/Natural-Disasters.csv',delimiter=';')
df_location_data = pd.read_csv('./Data/pend-gdis-1960-2018-disasterlocations.csv',delimiter=',')

C:\Users\jonas\AppData\Local\Temp\ipykernel_23312\3918338809.py:2: DtypeWarning: Columns (18,19,24,25,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_events = pd.read_csv('./Data/Natural-Disasters.csv',delimiter=';')

In [38]:
# Drop all events from before 1960
df_events = df_events[df_events["Year"] >= 1960]
df_events

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
303,1960-0013-CHL,1960,13,NaN,Natural,Geophysical,Earthquake,Tsunami,NaN,NaN,...,NaN,NaN,NaN,550000.0,5442439.0,"10,10576299",NaN,NaN,NaN,NaN
304,1960-0026-AIA,1960,26,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Donna,...,NaN,NaN,NaN,35000.0,346337.0,"10,10576299",NaN,NaN,NaN,NaN
305,1960-0025-ANT,1960,25,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Donna,...,NaN,NaN,NaN,NaN,NaN,"10,10576299",NaN,NaN,NaN,NaN
306,1960-0024-ATG,1960,24,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Donna,...,NaN,NaN,NaN,NaN,NaN,"10,10576299",NaN,NaN,NaN,NaN
307,1960-0030-BGD,1960,30,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"10,10576299",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16540,2023-0002-PHL,2023,2,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,12000.0,NaN,NaN,1;2,2357;2361;2362;2364;2368;67159;67162;67165;67166,24267;24272;67174,"Region II (Cagayan Valley), Region III (Centra..."
16541,2023-0056-ZMB,2023,56,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,65228;65231;65236,"Choma, Kalomo, Namwala (Adm2)."
16542,2023-0046-NZL,2023,46,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2171,NaN,Auckland (Adm1).
16543,2023-0032-USA,2023,32,NaN,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3214;3224,NaN,"Alabama, Georgia (Adm1)."
16544,2023-0022-SRB,2023,22,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
def get_country_code(c_name):
    country = pycountry.countries.get(name=c_name)
    code = None
    if country is not None:
        code = country.alpha_3
    return code

In [40]:
# Fill in missing ISO3 codes
df_location_data.loc[df_location_data["iso3"].isna(), "iso3"] = df_location_data[df_location_data["iso3"].isna()].apply(lambda x: get_country_code(x["country"]),axis=1)

In [41]:
# Fill in missing ISO3 codes not included in the pycountry library
df_location_data.loc[df_location_data["country"] == "Palestina", "iso3"] = "PSE"
df_location_data.loc[df_location_data["country"] == "Virgin Islands; U.S.", "iso3"] = "VIR"
df_location_data.loc[df_location_data["country"] == "Reunion", "iso3"] = "REU"
df_location_data.loc[df_location_data["country"] == "Saint Helena", "iso3"] = "SHN"
df_location_data.loc[df_location_data["country"] == "Micronesia", "iso3"] = "FSM"
df_location_data.loc[df_location_data["country"] == "British Virgin Islands", "iso3"] = "VGB"
df_location_data

,id,country,iso3,gwno,year,geo_id,geolocation,level,adm1,adm2,adm3,location,historical,hist_country,disastertype,disasterno,latitude,longitude
0,109,Albania,ALB,339.0,2009,346,Ana E Malit,3,Shkoder,Shkodres,Ana E Malit,Ana E Malit,0,NaN,flood,2009-0631,42.020948,19.418317
1,109,Albania,ALB,339.0,2009,351,Bushat,3,Shkoder,Shkodres,Bushat,Bushat,0,NaN,flood,2009-0631,41.959294,19.514309
2,175,Angola,AGO,540.0,2001,760,Onjiva,3,Cunene,Cuanhama,Onjiva,Onjiva,0,NaN,flood,2001-0146,-17.093484,15.665758
3,187,Angola,AGO,540.0,2009,710,Evale,3,Cunene,Cuanhama,Evale,Evale,0,NaN,flood,2009-0092,-16.531533,15.773987
4,187,Angola,AGO,540.0,2009,749,Mupa,3,Cunene,Cuvelai,Mupa,Mupa,0,NaN,flood,2009-0092,-16.200065,15.844189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39948,Jun-94,Dominica,DMA,NaN,2015,45253,Saint Patrick,1,Saint Patrick,NaN,NaN,St. Patrick province,1,NaN,storm,2015-0375,15.282063,-61.291589
39949,Jun-94,Dominica,DMA,NaN,2015,45254,Saint Andrew,1,Saint Andrew,NaN,NaN,St. Andrew province,1,NaN,storm,2015-0375,15.541065,-61.350601
39950,Jun-94,Dominica,DMA,NaN,2015,45255,Saint George,1,Saint George,NaN,NaN,St. George province,1,NaN,storm,2015-0375,15.308003,-61.343527
39951,Jun-94,Dominica,DMA,NaN,2015,45256,Saint David,1,Saint David,NaN,NaN,St. David province,1,NaN,storm,2015-0375,15.413059,-61.282094
39952,Jun-94,Dominica,DMA,NaN,2015,45257,Saint Paul,1,Saint Paul,NaN,NaN,St. Paul province,1,NaN,storm,2015-0375,15.367511,-61.364736

In [42]:
# Check if there are still empty ISO3 codes
df_location_data[df_location_data["iso3"].isna()]["country"].count()

0

In [43]:
# Edit disasterno to be the same as in df_events
df_location_data["disasterno"] = df_location_data["disasterno"] + "-" + df_location_data["iso3"]
df_location_data

,id,country,iso3,gwno,year,geo_id,geolocation,level,adm1,adm2,adm3,location,historical,hist_country,disastertype,disasterno,latitude,longitude
0,109,Albania,ALB,339.0,2009,346,Ana E Malit,3,Shkoder,Shkodres,Ana E Malit,Ana E Malit,0,NaN,flood,2009-0631-ALB,42.020948,19.418317
1,109,Albania,ALB,339.0,2009,351,Bushat,3,Shkoder,Shkodres,Bushat,Bushat,0,NaN,flood,2009-0631-ALB,41.959294,19.514309
2,175,Angola,AGO,540.0,2001,760,Onjiva,3,Cunene,Cuanhama,Onjiva,Onjiva,0,NaN,flood,2001-0146-AGO,-17.093484,15.665758
3,187,Angola,AGO,540.0,2009,710,Evale,3,Cunene,Cuanhama,Evale,Evale,0,NaN,flood,2009-0092-AGO,-16.531533,15.773987
4,187,Angola,AGO,540.0,2009,749,Mupa,3,Cunene,Cuvelai,Mupa,Mupa,0,NaN,flood,2009-0092-AGO,-16.200065,15.844189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39948,Jun-94,Dominica,DMA,NaN,2015,45253,Saint Patrick,1,Saint Patrick,NaN,NaN,St. Patrick province,1,NaN,storm,2015-0375-DMA,15.282063,-61.291589
39949,Jun-94,Dominica,DMA,NaN,2015,45254,Saint Andrew,1,Saint Andrew,NaN,NaN,St. Andrew province,1,NaN,storm,2015-0375-DMA,15.541065,-61.350601
39950,Jun-94,Dominica,DMA,NaN,2015,45255,Saint George,1,Saint George,NaN,NaN,St. George province,1,NaN,storm,2015-0375-DMA,15.308003,-61.343527
39951,Jun-94,Dominica,DMA,NaN,2015,45256,Saint David,1,Saint David,NaN,NaN,St. David province,1,NaN,storm,2015-0375-DMA,15.413059,-61.282094
39952,Jun-94,Dominica,DMA,NaN,2015,45257,Saint Paul,1,Saint Paul,NaN,NaN,St. Paul province,1,NaN,storm,2015-0375-DMA,15.367511,-61.364736

In [44]:
def extract_lat_long(row, key):
    location_data = df_location_data[df_location_data["disasterno"] == row["Dis No"]]
    if not location_data.empty:
        return location_data.iloc[0, :][key]
    else:
        return None

In [45]:
# Augment Latitude info
df_events["Latitude"] = df_events.apply(lambda row: extract_lat_long(row, "latitude"), axis=1)

In [46]:
# Augment Longitude info
df_events["Longitude"] = df_events.apply(lambda row: extract_lat_long(row, "longitude"), axis=1)

In [47]:
def extract_trajectory(row):
    location_data = df_location_data[df_location_data["disasterno"] == row["Dis No"]]
    trajectory = []
    if not location_data.empty:
        for _, row in location_data.iterrows():
            trajectory.append((row["latitude"], row["longitude"]))
        return trajectory
    else:
        return None

In [48]:
# Augment trajectory info
df_events["Trajectory"] = df_events.apply(lambda row: extract_trajectory(row), axis=1)

In [49]:
df_events

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,Trajectory
303,1960-0013-CHL,1960,13,NaN,Natural,Geophysical,Earthquake,Tsunami,NaN,NaN,...,NaN,NaN,550000.0,5442439.0,"10,10576299",NaN,NaN,NaN,NaN,"[(-41.47604118, -72.81041733), (-39.87852955, ..."
304,1960-0026-AIA,1960,26,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Donna,...,NaN,NaN,35000.0,346337.0,"10,10576299",NaN,NaN,NaN,NaN,None
305,1960-0025-ANT,1960,25,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Donna,...,NaN,NaN,NaN,NaN,"10,10576299",NaN,NaN,NaN,NaN,None
306,1960-0024-ATG,1960,24,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Donna,...,NaN,NaN,NaN,NaN,"10,10576299",NaN,NaN,NaN,NaN,None
307,1960-0030-BGD,1960,30,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,NaN,NaN,NaN,"10,10576299",NaN,NaN,NaN,NaN,"[(22.69803384, 91.11882816)]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16540,2023-0002-PHL,2023,2,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,12000.0,NaN,NaN,1;2,2357;2361;2362;2364;2368;67159;67162;67165;67166,24267;24272;67174,"Region II (Cagayan Valley), Region III (Centra...",None
16541,2023-0056-ZMB,2023,56,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,65228;65231;65236,"Choma, Kalomo, Namwala (Adm2).",None
16542,2023-0046-NZL,2023,46,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,2171,NaN,Auckland (Adm1).,None
16543,2023-0032-USA,2023,32,NaN,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,...,NaN,NaN,NaN,NaN,NaN,1,3214;3224,NaN,"Alabama, Georgia (Adm1).",None
16544,2023-0022-SRB,2023,22,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [51]:
df_events[["Latitude", "Longitude"]].isna().sum()

Latitude     7433
Longitude    7433
dtype: int64